html {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    overflow-x: hidden;
    background: linear-gradient(to top right, rgb(255, 238, 0), rgb(255, 0, 170));
    background-attachment: fixed;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.signUpContainer {
    height: 90%;
    width: calc(100% - 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

.signUp {
    font-size: 2em;
    background: rgba(255,255,255,0.5);
    padding: 40px;
    border-radius: 4px/4px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.575);
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: left;
}

.signUpInput {
    display: flex;
    flex-wrap: wrap;
}

.signUp input[type=text], .signUp input[type=password],.signUp input[type=mail] {
    background : rgba(255,255,255,0.7);
    border : none;
    outline: none;
    margin: 5px;
    height : 1.2em;
    font-size: 1em;
    max-width: 100%;
    border-radius: 4px/4px;
    opacity: 0.6;
    transition: 0.2s;
    border-bottom: 2px solid purple;
}

.signUp input[type=text]:hover, .signUp input[type=password]:hover, .login input[type=text]:focus, .login input[type=password]:focus  {
    border-bottom: 2px solid rgb(55, 0, 128);
    opacity: 1;
}

.signUp input[name=genre] {
    margin : 0;
}

.signUpInput .error {
    background-color: red;
    color : white;
    font-size: 0.4em;
    display: none;
    border-radius: 4px/4px;
    max-width: 380px;
}

.signUpTitle h2 {
    font-size: 2em;
    padding-right: 4px;
    transform : skew(-0.12turn,0deg) translate(10px);
    background: linear-gradient(to top right,  #ff6b08, #f32170);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* color : linear-gradient(to top right, orange, red) */
}

h4 {
    font-size: 1em;
}

p {
    font-size: 20px;
}

.signUpTitle {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
}

.signUpTitle > * {
    margin-top : 0;
    margin-bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 100%;
}

form > * {
    display : inline-block;
    width: fit-content;
    max-width : 100%; 
}

.credits {
    height: 10%;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: left;
    align-items: flex-end;
}

.button {
    font-size: 1em;
    padding: 0.2em 0.6em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button:active {
    color: #000;
  }
  
  .button:active:after {
    background: transparent;
  }
  
  .button:hover:before {
    opacity: 1;
  }
  
  .button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

/*.button {
    background : rgb(189, 3, 189);
    border-left: rgb(231, 106, 231) 4px solid;
    border-bottom: rgb(231, 106, 231) 4px solid;
    border-right: none;
    border-top: none;
    font-size: 1em;
    transition : 0.2s;
    border-radius: 4px/4px;
    outline: none;
    color: white;
    user-select: none;
}

.button:hover {
    border-left: rgb(231, 106, 231) 0 solid;
    margin-right: 4px;
    margin-top : 4px;
    border-bottom: rgb(231, 106, 231) 0 solid;
}

.button:active {
    opacity: 0.6;
    border-left: rgb(231, 106, 231) 0 solid;
    margin-right: 4px;
    margin-top : 4px;
    border-bottom: rgb(231, 106, 231) 0 solid;
}*/


.profilePicture {
    height : 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    background: white;
}

.profilePicture img {
    height : 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.profilePicture .svgContainer {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height : 100%;
    width: 100%;
    aspect-ratio: 1;
    opacity: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    background : lightgray;
    transition: 0.2s;
}

.profilePictureInput {
    display: none;
}

.ppContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
}

.profilePicture .svgContainer svg {
    height : 50%;
    aspect-ratio: 1;
    background : lightgray;
    color: white;
}

.profilePicture:hover .svgContainer {
    opacity: 1;
}

.profilePicture:hover .svgContainer svg{
    display : block;
}

.pictureRemButton {
    display: none;
    font-size: 0.5em;
    margin:30px;
    width: 150px;
}

.ppAndBio {
    min-width: 300px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid black;
}

textarea {
    width : 100%;
    aspect-ratio: 3;
    outline: none;
    border: none;
    border-bottom : 2px solid rgb(55, 0, 128);
    border-radius: 4px/4px;
    resize: none;
    font-size: 20px;
    opacity: 0.6;
}

textarea:hover, textarea:focus {
    opacity: 1 ;
}

.bottomButtons > * {
    width : fit-content;
}