<!DOCTYPE html>
<html>
    <head>
        <title>Dilab (by Diskloud)</title>
		<meta charset='utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='icon' href="https://dev.diskloud.fr/mediaCE/gifgit%20(3).png" />
        <link rel="stylesheet" media="screen" type="text/css" href="https://www.diskloud.fr/node/dilabRessources/style/dilabLogin.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <script src="https://e.diskloud.fr/scripts/sweetalert2@10.js"></script>
    </head>
    <body>
        <div class=loginContainer>
            <div class=login>
                <div class=loginTitle>
                    <h2>Dilab</h2>
                    <h4>Login</h4>
                </div>
                <form>
                    <input type=text required name=u placeholder="username"/>
                    <input type="password" required name=p autocomplete="diskloudDilabPassword" placeholder="password" />
                    <p>No account yet ? <a href=signup>Create one !</a></p>
                    <button class=button>Login</button>
                </form>
            </div>
        </div>
        <div class=credits>&copy; Diskloud 2022</div>
        <script src="https://e.diskloud.fr/dilabRessources/scripts/dilabLogin.js"></script>
    </body>
</html>