<!DOCTYPE html>
<html>
	<head>
		<title>Dilab (by Diskloud)</title>
		<meta charset='utf-8' />
        <link rel='icon' href="https://dev.diskloud.fr/mediaCE/gifgit%20(3).png" />
        <link rel="stylesheet" media="screen" type="text/css" href="https://www.diskloud.fr/node/dilabRessources/style/dilab.css">
        <link rel="stylesheet" media="screen" type="text/css" href="https://www.diskloud.fr/node/dilabRessources/style/dilabAdditionalComponents.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://e.diskloud.fr/scripts/sweetalert2@10.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />
	</head>
	<body>
		<div class="box-container">
			<div class="top-nav">
				<div class=left-menu>
					<h4 class="title">Dilab</h4>
					<h4 class="opt">Releases</h4>
					<h4 class="opt">Projects</h4>
					<h5 class="opt">Groups</h5>
				</div>
				<div class=right-menu>
					<div class=search-container>
						<input class=search-field maxlength="40" type=text placeholder="Search content..">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>
					</div>
					<% if (connected==false) {%>
						<button class="button loginButton">Login</button>
					<% } else { %>
						<div class="notificationsButton">
							<i class="bi bi-bell"></i>
						</div>
						<div class=notificationsMenu>
							<h2>Notifications</h1>
							<div class=notificationsList>
								<div class="notification">
									<div class=icon>
										<i class="bi bi-person-plus-fill"></i>
									</div>
									<div class=text>
										<strong>Jaja</strong> wants to join your group <strong>Croum Crawm</strong>
									</div>
									<div class=options>
										<div class=accept>
											<i class="bi bi-check2"></i>
										</div>
										<div class=deny>
											<i class="bi bi-x"></i>
										</div>
									</div>
								</div>
								<hr />
								<div class="notification">
									<div class=icon>
										<i class="bi bi-people-fill"></i>
									</div>
									<div class=text>
										<strong>Jojo</strong> texted you
									</div>
									<div class=options>
										<div class=confirm>
											<i class="bi bi-arrow-right"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class=userProfileCircleButton><img class=userPPImg src=/dilab/user/person-circle.svg /></div>
						<div class=userMainMenu></a><div class=menuPP><img class=menuPPImg src=/dilab/user/person-circle.svg /></div><div class=infoText>Welcome,<br /><span class=nameAndSurname></span> !</div><div class="settingsBtn aButton"><i class="bi bi-gear-fill"></i>Settings</div><div class="aButton disconnectBtn"><i class="bi bi-power"></i>Log Out</div></div>
					<%}%>
				</div>
				<div class=progress-load></div>
			</div>
			<div class=main-content>
				<div class="kabobloader">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				  </div>
			</div>
			<div class=player>
				<div class="musicInfos">
					<div title="Display lyrics (if available)" class="cover">
						<svg title="Display lyrics (if available)" class="musicPlayerCoverHover" xmlns="http://www.w3.org/2000/svg" width="59" height="58" viewBox="0 0 59 58"><path fill="#000" fill-rule="evenodd" d="M51.52 21.388a9.723 9.723 0 0 1-8.333 2.729 9.661 9.661 0 0 1-5.352-2.73 9.627 9.627 0 0 1-2.704-5.179c-.52-3.112.488-6.292 2.704-8.506a9.615 9.615 0 0 1 6.844-2.832 9.61 9.61 0 0 1 6.842 2.832 9.618 9.618 0 0 1 2.831 6.844 9.614 9.614 0 0 1-2.831 6.842zM18.125 45.47l-4.262-4.26 18.579-20.892a13.572 13.572 0 0 0 2.657 3.806c1.158 1.157 2.503 2.053 3.958 2.719L18.124 45.47zM54.258 4.965A13.452 13.452 0 0 0 44.678 1a13.46 13.46 0 0 0-9.58 3.966c-2.866 2.865-4.267 6.88-3.886 10.914L9.757 40.001a1.935 1.935 0 0 0 .077 2.656l1.837 1.837L.567 55.596a1.933 1.933 0 0 0 1.369 3.303c.495 0 .99-.187 1.368-.567L14.408 47.23l2.27 2.269a1.932 1.932 0 0 0 2.654.077l24.232-21.561c.362.029.724.083 1.084.083 3.569 0 7.053-1.415 9.61-3.973a13.459 13.459 0 0 0 3.965-9.58 13.46 13.46 0 0 0-3.965-9.58z" transform="translate(0 -1)"/></svg>
						<img  title="Display lyrics (if available)"  class="coverOfCurrentlyPlayingSound" src="https://e.diskloud.fr/Dilab/release/music-note-beamed.svg" />
					</div>
					<div class=description>
						<div class=songTitle>
							No song playing
						</div>
						<div class=songGroup>
							No group chosen
						</div>
					</div>
					<div class=likeIt>
						<i class="bi bi-heart"></i>
					</div>
				</div>
				<div draggable="false" class=musicControls>
					<div class=musicButtons>
						<div class=musicButton>
							<i class="bi bi-skip-backward"></i>
						</div>
						<div class=musicButton>
							<i class="bi bi-play-circle"></i>
						</div>
						<div class=musicButton>
							<i class="bi bi-skip-forward"></i>
						</div>
					</div>
					<div class=musicBar>
						<div class=musicProgressTime>
							<div style="width:5em;" class="skeletonLoader"></div>
						</div>
						<div class="progressBarContainer">
							<div class="progressBar">
								<div class=filledPart>
									<div class=dotPosition></div>
								</div>
							</div>
						</div>
						<div class=musicDuration>
							<div style="width:5em;" class="skeletonLoader"></div>
						</div>
					</div>
				</div>
				<div draggable="false" class=soundControl>
					<div class=playlistIcon>
						<i class="bi bi-music-note-list"></i>
						<div class="playlistMenu">
							<div class=playlistMenuHeader>
								<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="50px" width="50px" class="bi bi-music-note-list" viewBox="0 0 16 16">
									<path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
									<path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
									<path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
									<path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
								</svg>
								<h2>Playlist</h2>
							</div>
							<div class=playElements>
								<div class=playlistElement>
									<div class=left>
										<div class="cover">
											<img src="https://dev.diskloud.fr/pics/diskloudColors.jpg" />
											<div class="playingIcon">
												<div class="bar"></div><div class="bar"></div><div class="bar"></div><div class="bar"></div>
											</div>	
										</div>
										<div class=soundName>
											<span class="soundTitle">Title 1</span>
											<span class=soundAuthor>Author1</span>
										</div>
									</div>
									<span class="duration">
										<div style="width:3em;" class="skeletonLoader"></div>
									</span>
								</div>
								<div class=playlistElement>
									<div class=left>
										<div class="cover">
											<img src="https://dev.diskloud.fr/pics/diskloudColors.jpg" />
										</div>
										<div class=soundName>
											<span class="soundTitle">Title 2</span>
											<span class=soundAuthor>Author1</span>
										</div>
									</div>
									<span class="duration">
										<div style="width:3em;" class="skeletonLoader"></div>
									</span>
								</div>
								<div class=playlistElement>									
									<div class=left>
										<div class="cover">
											<img src="https://dev.diskloud.fr/pics/diskloudColors.jpg" />
										</div>
										<div class=soundName>
											<span class="soundTitle">Title 3</span>
											<span class=soundAuthor>Author1</span>
										</div>
									</div>
									<span class="duration">
										<div style="width:3em;" class="skeletonLoader"></div>
									</span>
								</div>
								<div class=playlistElement>
									<div class=left>
										<div class="cover">
											<img src="https://dev.diskloud.fr/pics/diskloudColors.jpg" />
										</div>
										<div class=soundName>
											<span class="soundTitle">Title 4</span>
											<span class=soundAuthor>Author1</span>
										</div>
									</div>
									<span class="duration">
										<div style="width:3em;" class="skeletonLoader"></div>
									</span>
								</div>
								<div class=playlistElement>
									<div class=left>
										<div class="cover">
											<img src="https://dev.diskloud.fr/pics/diskloudColors.jpg" />
											<div class="playingIcon">
												<div class="bar"></div><div class="bar"></div><div class="bar"></div><div class="bar"></div>
											</div>										</div>
										<div class=soundName>
											<span class="soundTitle">Title 5</span>
											<span class=soundAuthor>Author1</span>
										</div>
									</div>
									<span class="duration">
										<div style="width:3em;" class="skeletonLoader"></div>
									</span>
								</div>
								<div class=playlistElement>
									<div class=left>
										<div class="cover">
											<img src="https://dev.diskloud.fr/pics/diskloudColors.jpg" />
										</div>
										<div class=soundName>
											<span class="soundTitle">Title 6</span>
											<span class=soundAuthor>Author1</span>
										</div>
									</div>
									<span class="duration">
										<div style="width:3em;" class="skeletonLoader"></div>
									</span>
								</div>
								<div class=playlistElement>									
									<div class=left>
										<div class="cover">
											<img src="https://dev.diskloud.fr/pics/diskloudColors.jpg" />
										</div>
										<div class=soundName>
											<span class="soundTitle">Title 7</span>
											<span class=soundAuthor>Author1</span>
										</div>
									</div>
									<span class="duration">
										<div style="width:3em;" class="skeletonLoader"></div>
									</span>
								</div>
								<div class=playlistElement>
									<div class=left>
										<div class="cover">
											<img src="https://dev.diskloud.fr/pics/diskloudColors.jpg" />
										</div>
										<div class=soundName>
											<span class="soundTitle">Title 8</span>
											<span class=soundAuthor>Author1</span>
										</div>
									</div>
									<span class="duration">
										<div style="width:3em;" class="skeletonLoader"></div>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class=soundIcon>
						<i class="bi bi-volume-mute-fill"></i>
					</div>
					<div class="progressBarContainer">
						<div class="progressBar">
							<div class=filledPart>
								<div class=dotPosition></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class=popUpWindowContainer>
			<div class="popUpWindow">
				<div class=popUpHeader>
					<span class=popUpTitle>Pop Up Title</span>
					<div class=popUpCloseBtn>
						<i style="display: flex; align-items: center; justify-content: center;" class="bi bi-x"></i>
					</div>
				</div>
				<div class=popUpMainContent>
					This is the pop up's main content.
				</div>
			</div>
		</div>
		<div class=fullScreen>
			<div><i class="bi bi-x-circle fullscreenExit"></i></i></div>
			<div class="lyricsCard">
				<div class=topText>Music Lyrics</div>
				<div class=mainText>The lyrics of the current track will appear here</div>
				<div class=bottomText>If available :)</div>
			</div>
			<div class="bottomEl">
				<div class="songInfosCoverWrapper">
					<img class="fullScreenPlayingSoundCover" title="Music Cover" src="https://e.diskloud.fr/Dilab/release/music-note-beamed.svg" />
					<div class="songInfosWrapper">
						<h2 class=soundName>The best sound ever</h2>
						<h4 class=soundAuthor>Croum Crawm CLAIREDOUEOO</h4>
					</div>
				</div>
				<div draggable="false" class=musicControls>
				<div class=musicButtons>
					<div class=musicButton>
						<i class="bi bi-skip-backward"></i>
					</div>
					<div class=musicButton>
						<i class="bi bi-play-circle"></i>
					</div>
					<div class=musicButton>
						<i class="bi bi-skip-forward"></i>
					</div> 
				</div>
				</div>
			</div>
		</div>
        <script src="https://e.diskloud.fr/dilabRessources/scripts/dilab.js"></script>
	</body>
</html>	